fastapi
uvicorn
python-dotenv
cachetools
requests
openai
beautifulsoup4
webdriver-manager
selenium
chromedriver-autoinstaller
pydantic
fuzzywuzzy
python-Levenshtein
psycopg2-binary
aiosqlite
sqlalchemy
asyncpg
databases
fastapi-utils
typing_inspect
